body, *{
  font-family: 'Poppins', sans-serif;
}

.sidebar-open {
  margin-left: 250px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 2000;
  background: #274C77;
  transition: left 0.3s;
}
.sidebar:not(.open) {
  transform: translateX(-100%);
}
