.about-page {
    max-width: 900px;
    margin: auto;
    padding: 30px;
    font-family: Arial, sans-serif;
    color: #1E3D58;
    max-width:100vw;
    background-color: #a7caf3 ;

  }
  
  .about-page h1 {
    text-align: center;
    color: #274C77;
    margin-bottom: 30px;
  }
  
  .about-section {
    margin-bottom: 30px;
    background: #f4f8fb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(65, 114, 159, 0.2);
  }
  
  .about-section h2 {
    color: #41729F;
    margin-bottom: 10px;
  }
  
  .about-section p,
  .about-section li {
    line-height: 1.6;
    font-size: 16px;
  }
  
  .about-section ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  