.homepage-wrapper {
    background: #0c0b12;
    color: black;
    min-height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 15;
  }
  
  /* Dashboard Icon */
  .dashboard-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.8rem;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 20;
  }
  
  /* Glassmorphic Box */
  .glass-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 90vw;
    max-width: 1200px;
    height: 400px;
    padding: 40px;
    border-radius: 20px;
  
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Prevent overflow */
    z-index: 19;
  }
  
  /* Text Section */
  .homepage-text {
    flex: 1;
    max-width: 500px;
    z-index: 11;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Typing Effect Text */
  .homepage-text .text {
    font-size: 2.5rem;
    font-weight: 500;
    color: #f3f8f8;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #d9dede;
    animation: blinkCursor 0.8s infinite;
  }
  
  .homepage-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  
  .homepage-text p {
    font-size: 1.1rem;
    color: #b3b3b3;
  }
  
  /* Cards Section */
  .homepage-cards {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  
    max-width: 50%;
    height: 100%; /* Let cards take full height */
  }
  
  .homepage-cards .CardSwap {
    width: 100%;
    height: 100%;
    max-height: 300px; /* Keep it proportional */
  }
  
  .homepage-cards .CardSwap > div {
    width: 100%;
    height: 100%;
  }
  .card h3, .card p {
    color: #141414;
  }
