.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
    min-width:97vw;
    background-color: #f4f8fb;
  }
  
  .profile-info, .leaderboard-graph {
    background: #f4f8fb;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(65, 114, 159, 0.4);
  }
  
  .profile-info {
    flex: 1.5;
  }
  
  .leaderboard-graph {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .edit-form input {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    border: 1px solid #6096BA;
    border-radius: 6px;
  }
  
  .edit-form button {
    margin-top: 10px;
    padding: 8px 12px;
    background: #274C77;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .edit-btn {
    background: #A3CEF1;
    color: #1E3D58;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-btn:hover {
    background: #6096BA;
    color: #fff;
  }
  .leaderboard-graph{

  }
  .search-bar {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .search-bar input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .search-bar button {
    background-color: #274C77;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  .leaderboard-table th, .leaderboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }